
.container {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white; 
    color: #222; 
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .navbar a {
    color:rgb(27, 32, 34);
    text-decoration: none;
    padding: 10px 15px;
    transition: transform 0.3s ease;
  
  }
  
  .navbar a:hover {
    background-color:rgb(250, 249, 249); 
    border-radius: 8px;
    transform: scale(1.1);
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  
  